<div>
  <div class="col-sm 12">
    <div class="col-sm-6 mx-auto shadow-lg">
      <h2 class="p-2">Link Shortener</h2>

      <div class="p-4">
        <form>
          <div class="form-group">
            <label for="URL">Paste URL Here:</label>
            <input
              type="url"
              [(ngModel)]="linkToShorten.long_url"
              name="long_url"
              placeholder="https://example.com"
              class="form-control col-sm-6 border border-secondary"
              required
            />
            <div *ngIf="error">{{ message }}</div>
          </div>
          <div class="form-group">
            <button
              type="button"
              (click)="getShortLink()"
              class="btn btn-outline-success"
            >
              Submit
            </button>
          </div>

          <hr />

          <div *ngIf="urlResult">
            <label>Here is your link</label>
            <input
              type="text"
              readonly
              [value]="answer.link"
              class="form-control col-sm-10"
              disabled
              value=""
            />
          </div>
          <ng-template
            ><i
              >** Simply paste your Url and click the Submit button to get
              shortened url.
            </i></ng-template
          >
        </form>
      </div>
    </div>
  </div>
</div>
